<div class="container-fluid">
  <div class="jumbotron">
    <div class="container-fluid">
      <div class="text-center">
        <h1>Welcome!</h1>
      </div>
    </div>
  </div>

</div>

<div id="main">
  <div class="container-fluid">

    <!-- Filter Options -->
    <div class="row space-bottom">
      <div class="filter-bar">
        <form class="form-inline" action="/spaces">
          <div class="col-md-1 text-center">
            <p>Search by:</p>
          </div>
          <div class="col-md-2">
            <div class="form-group text-center">
              <label for="city">City</label>
              <input type="text" name="city" class="form-control" id="city">
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="form-group">
              <label for="province">Province/State</label>
              <input type="text" name="province" class="form-control" id="province">
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="form-group">
              <label for="country">Country</label>
              <input type="text" name="country" class="form-control" id="country">
            </div>
          </div>
          <div class="col-md-1 text-center">
            <div class="form-group">
              <label for="area">Plot Area</label>
              <input type="text" name="area" size="5" class="form-control" id="area">
            </div>
          </div>
          <div class="col-md-2 text-center mid-75">
            <div class="form-group" id="radioset">
              <input type="radio" id="radio1" name="radio"><label for="radio1">Indoor</label>
              <input type="radio" id="radio2" name="radio" checked="checked"><label for="radio2">Outdoor</label>
            </div>
          </div>
          <div class="col-md-1 text-center mid-75">
              <button class="btn btn-primary outline" type="submit">Filter</button>
          </div>
        </form>
      </div>
    </div>

    <div class="row">

      <!-- Boxes -->
      <div class="col-lg-4">
        <div class="listing-box">
          <div class="indicator">Indoor</div>
          <div class="fav-icon"><span class="glyphicon glyphicon-star"></span></div>
          <div class="box-image" style="background: url(http://soulofthegarden.com/Images/Japan-I%20297b.jpg) center no-repeat">&nbsp;</div>
          <h3>Some address here</h3>
          <div class="text-right area"><p>123 m<sup>2</sup></p></div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="listing-box">
          <div class="indicator">Indoor</div>
          <div class="fav-icon"><span class="glyphicon glyphicon-star"></span></div>
          <div class="box-image" style="background: url(http://soulofthegarden.com/Images/Japan-I%20297b.jpg) center no-repeat">&nbsp;</div>
          <h3>Some address here</h3>
          <div class="text-right area"><p>m2</p></div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="listing-box">
          <div class="indicator">Indoor</div>
          <div class="fav-icon"><span class="glyphicon glyphicon-star"></span></div>
          <div class="box-image" style="background: url(http://soulofthegarden.com/Images/Japan-I%20297b.jpg) center no-repeat">&nbsp;</div>
          <h3>Some address here</h3>
          <div class="text-right area"><p>m2</p></div>
        </div>
      </div>

      <!-- add more boxes here -->

    </div>


  </div>
</div>