<div class="container-fluid">
  <div class="jumbotron">
    <div class="container">
      <div class="text-center">
        <h1>Welcome!</h1>
      </div>
    </div>
  </div>
</div>

<div id="main">
  <div class="container-fluid">
    <div class="row">

      <!-- Boxes -->
      <div class="col-lg-4">
        <div class="listing-box">
          <div class="indicator">Indoor</div>
          <div class="fav-icon"><span class="glyphicon glyphicon-star"></span></div>
          <div class="box-image" style="background: url(http://soulofthegarden.com/Images/Japan-I%20297b.jpg) center no-repeat">&nbsp;</div>
          <h3>Some address here</h3>
          <div class="text-right area"><p>123 m<sup>2</sup></p></div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="listing-box">
          <div class="indicator">Indoor</div>
          <div class="fav-icon"><span class="glyphicon glyphicon-star"></span></div>
          <div class="box-image" style="background: url(http://soulofthegarden.com/Images/Japan-I%20297b.jpg) center no-repeat">&nbsp;</div>
          <h3>Some address here</h3>
          <div class="text-right area"><p>m2</p></div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="listing-box">
          <div class="indicator">Indoor</div>
          <div class="fav-icon"><span class="glyphicon glyphicon-star"></span></div>
          <div class="box-image" style="background: url(http://soulofthegarden.com/Images/Japan-I%20297b.jpg) center no-repeat">&nbsp;</div>
          <h3>Some address here</h3>
          <div class="text-right area"><p>m2</p></div>
        </div>
      </div>

    </div>
  </div>
</div>