<!DOCTYPE html>
<html lang="en">
<head>
  <!-- CSS Files (order matters) -->
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'> <!-- font-family: 'Poiret One', sans-serif; -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'> <!-- font-family: 'Roboto', sans-serif; -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/stylesheets/application.css">

  <title>ShareGarden</title>
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo_font" href="/">ShareGarden</a>
    </div>

    <!-- Search bar -->
    <div>
      <form class="navbar-form navbar-left" role="search" action="/spaces" method="get">
        <div class="form-group">
          <div class="input-group">
            <input type="text" name="search" class="form-control search_bar" placeholder="Search">
            <span class="input-group-btn">
              <button class="btn btn-default invisible-btn"><span class="glyphicon glyphicon-search
"></span> <span class="sr-only">Submit</span></button>
            </span>
          </div>
        </div>
      </form>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right text-center">
        <a class="navbar-btn btn btn-primary outline" aria-label="Left Align" href="/post">List your space</a>
        <a class="navbar-btn btn btn-primary outline" aria-label="Left Align" href="/post">Login</a>
      </ul>
    </div><!--/.nav-collapse -->

  </div>
</nav>
<!--/. NAVBAR -->

<!-- MAIN CONTAINER -->
<div class="container">
    <%= yield %>
</div>
<!-- /.MAIN CONTAINER -->

<!-- JS Files (at the end for faster loading, ORDER MATTERS) -->
<script src="/javascript/jquery-2.2.2.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/bootstrap/js/validator.js"></script>
<script src="/javascript/application.js"></script>

</body>
</html>
