<!DOCTYPE html>
<html lang="en">
<head>
  <!-- CSS Files (order matters) -->
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'> <!-- font-family: 'Poiret One', sans-serif; -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'> <!-- font-family: 'Roboto', sans-serif; -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="/jquery-ui/jquery-ui.css">
  <link rel="stylesheet" href="/jquery-ui/jquery-ui.theme.css">

  <title>ShareGarden</title>
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo_font" href="/">ShareGarden</a>
    </div>

    <!-- Search bar -->
    <div>
      <form class="navbar-form navbar-left" role="search" action="/" method="get">
        <div class="form-group">
          <div class="input-group">
            <input type="text" name="search" class="form-control search_bar" placeholder="Search">
            <span class="input-group-btn">
              <button class="btn btn-default invisible-btn"><span class="glyphicon glyphicon-search
"></span> <span class="sr-only">Submit</span></button>
            </span>
          </div>
        </div>
      </form>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right text-center">
        <!-- ONLY SHOW THE LIST BUTTON IF THERE IS A USER LOGGED IN -->
        <% if current_user %>
          <button class="navbar-btn btn btn-primary outline" type="button" aria-label="Left Align" data-toggle="modal" data-target=".list-space-modal">List your space</button>
        <% end %>
        <!-- ONLY SHOW THE FAVORITES BUTTON IF THERE IS A USER LOGGED IN -->
        <% if current_user %>
          <a class="navbar-btn btn btn-primary outline" aria-label="Left Align" href="/spaces/favorites">Favorites</a>
        <% end %>
        <!--/. DEFAULT ACTION WHEN CLICKING LOGIN BUTTON IS TO LOG IN AS USER_ID 1 -->
        <% if current_user.nil? %>
          <a class="navbar-btn btn btn-primary outline" aria-label="Left Align" href="/users/1/login">Login</a>
        <% else %>
          <a class="navbar-btn btn btn-primary outline" aria-label="Left Align" href="/logout">Logout</a>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->

  </div>
</nav>
<!--/. NAVBAR -->

  <!-- MAIN CONTAINER -->
  <div class="container-fluid no-padding">
      <%= yield %>
  </div>
  <!-- /.MAIN CONTAINER -->

  <!-- POST MODAL -->
  <div class="modal fade list-space-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Listing</h4>
        </div>
        <div>
          <iframe
            frameborder="0"
            style="border:0; width:100%; height: 100%; min-height: 700px;"
            scrolling="yes"
            src="post.html">
          </iframe>
        </div>
      </div>
    </div>
  </div>
  <!--/. POST MODAL -->

<!-- JS Files (at the end for faster loading, ORDER MATTERS) -->
<script src="/javascript/jquery-2.2.2.min.js"></script>
<script src="/BootstrapValidator.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/jquery-ui/jquery-ui.js"></script>
<script src="/javascript/application.js"></script>

</body>
</html>
